/*-------------------------------------------
  -- Box
-------------------------------------------*/
.ts-box {
  background-color: var(--color-white);
  border-radius: var(--br-md);
  margin-bottom: 32px;
  box-shadow: var(--bs-sm);
  padding: 24px;
  position: relative;
}