/* -- Dropdown */

.dropdown-menu {
  border-radius: var(--br-sm);
  box-shadow: var(--bs-lg);
  font-size: 14px;
  margin-top: 4px;

  .dropdown-item {
    padding-left: 16px;
    padding-right: 16px;
  }
}