/*-------------------------------------------
  -- Inputs
-------------------------------------------*/
.ts-inputs__transparent {
  input, textarea {
    background-color: transparent;
    color: var(--color-white);
    &:active, &:focus {
      background-color: transparent;
      color: var(--color-white);
    }
  }
}