/*-------------------------------------------
  -- Page
-------------------------------------------*/

body {
  &.ts-full-screen-page {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

.ts-page-wrapper {
  overflow-x: hidden;
}

#ts-main {
  position: relative;

  section:not(.ts-block) {
    margin-bottom: 32px;
  }

}