/* Center Align with Flex */

.ts-center__vertical {
  display: flex;
  align-items: center;
}

.ts-center__horizontal {
  display: flex;
  justify-content: center;
}

.ts-center__both {
  display: flex;
  align-items: center;
  justify-content: center;
}